

.layout1-body {
	background: rgb(168, 82, 82);
}

.layout1-wrapper {
	height: 100%;
	display: flex;
	flex-flow: column wrap;
}

.header {
	border: 1px solid #000;
	flex: 0 0 auto;
}

.head, .foot {
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
}

.main {
	border: 1px solid #000;
	flex: 1 0 auto;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.block1 {
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	background: rgb(189, 188, 188);
}

.footer {
	border: 1px solid #000;
	flex: 0 0 auto;
}