<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
		link(rel='stylesheet' href='assets/styles/vendor.min.css')
		link(rel='stylesheet' href='assets/styles/app.min.css')
	body
		.wrapper
			nav.nav
				ul.nav_list
					li.nav_item
						a.nav_link(href="layout1.html") layout#1
					li.nav_item
						a.nav_link(href="") layout#2
					li.nav_item
						a.nav_link(href="") layout#3