<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
		link(rel='stylesheet' href='assets/styles/vendor.min.css')
		link(rel='stylesheet' href='assets/styles/app.min.css')
	body.body7
		.wrapper7
			include ../common/navigation.pug
			nav.col-1 Nav
			.col-2
				header.header7 Header
				main.content7
					article.article7 Article
					aside.aside7 Aside
				footer.footer7 Footer