<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
		link(rel='stylesheet' href='assets/styles/vendor.min.css')
		link(rel='stylesheet' href='assets/styles/app.min.css')
	body.body5
		.wrapper5
			include ../common/navigation.pug
			nav.outer-col-1 Nav
			.outer-col-2
				header.header5 Header
				.inner-row
					.inner-col
						article.article5 Article
						footer.footer5 Footer
					aside.aside5 Aside