<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
		link(rel='stylesheet' href='assets/styles/vendor.min.css')
		link(rel='stylesheet' href='assets/styles/app.min.css')
	body.layout1-body
		nav.nav.nav-page
			ul.nav_list
				li.nav_item
					a.nav_link.nav_link-page(href="index.html") Главная
				li.nav_item
					a.nav_link.nav_link-page(href="") layout#2
				li.nav_item
					a.nav_link.nav_link-page(href="") layout#3
		.layout1-wrapper
			header.header 
				.container
					.head Header
			main.main
				.block1 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore, nihil?
			footer.footer
				.container
					.foot Footer
		
		