<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
		link(rel='stylesheet' href='assets/styles/vendor.min.css')
		link(rel='stylesheet' href='assets/styles/app.min.css')
	body.body8
		.wrapper8
			include ../common/navigation.pug
			header.header8 Header
			main.main8
				article.article8
				nav.nav8
				aside.aside8
			footer.footer8 Footer