* {
	box-sizing: border-box;
}

html {
	background-color: rgb(196, 196, 196);
}

html {
	// width: 100%;
	height: 100%;
	border: 2px solid #000;
	// // background-color: green;
	// border: 1px solid #000;
}

body {
	height: 100%; 
	// display: flex;
	// flex-direction: column;
	// font-family: $default-font;
	// font-size: 16px;
	// justify-content: center;
	// align-items: center;
	// line-height: 1.42;
	// -webkit-font-smoothing: antialiased; 
}

.container {
	width: 1180px;
	margin: 0 auto;
	// @include tablets {
	//     width: 720px;
	// }
	// @include phones {
	//     width: 95%;               
	// }
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-flow: column;
	// justify-content: center;
	// align-items: center;
	height: 100%;
	align-items: center;
	justify-content: center;
}

// h1, h2, h3, h4, h5, h6 {
// 	margin-top: 0;
// 	font-weight: normal;
// 	text-align: center;
// }

// ul {
// 	padding: 0;
// 	margin: 0;
// }

// li {
// 	list-style: none;
// }

// a {
// 	text-decoration: none;
// }

// p {
// 	padding: 0;
// 	margin: 0;
// }

// img {
//    vertical-align: middle;
// }