nav.nav.nav-page
	ul.nav_list
		li.nav_item
			a.nav_link.nav_link-page(href="index.html") Главная
		li.nav_item
			a.nav_link.nav_link-page(href="layout-landing.html") Landing
		li.nav_item
			a.nav_link.nav_link-page(href="layout1.html") layout#1
		li.nav_item
			a.nav_link.nav_link-page(href="layout2.html") layout#2
		li.nav_item
			a.nav_link.nav_link-page(href="layout3.html") layout#3 Лучшая раскладка
		li.nav_item
			a.nav_link.nav_link-page(href="layout4.html") layout#4 Хорошая раскладка
		li.nav_item
			a.nav_link.nav_link-page(href="layout5.html") layout#5
		li.nav_item
			a.nav_link.nav_link-page(href="layout6.html") layout#6
		li.nav_item
			a.nav_link.nav_link-page(href="layout7.html") layout#7 Вариация 4-го врианта
		li.nav_item
			a.nav_link.nav_link-page(href="layout8.html") layout#8